<div>Tags</div>
{{!log @root.collection}}
{{#each @root.collection.tags as |items tag|}}
  <span>{{tag}}</span>
  <ul>
    {{#each items as |item|}}
      <li>{{item.data.title}}: {{item.relative}}</li>
    {{/each}}
  </ul>
{{/each}}
